<header>
  <p>{{ nombre }}</p>
  <nav>
    <a href="#main">Main</a>
    <a href="#footer">Footer</a>
  </nav>
</header>

<div class ="main"> 
  <aside>
    <h3>{{ nombre }}</h3>
    <h3>{{ ciudad }}</h3>
    <h3>{{ telefono }}</h3>
    <h3>{{ email }}</h3>
    <h3><a href="{{ github }}" target="_blank">Repositorio de GitHub</a></h3>
    <h3>Nivel de Inglés: {{ ingles }}</h3>
  </aside>

  <main>
    <h1>Sobre mí</h1>
    <h2>Sé trabajar en equipo, se me da muy bien seguir indicaciones, y me tomo las situaciones con tranquilidad. 
      Me apasiona el desarrollo de videojuegos, su funcionamiento interno y el ámbito de la programación.</h2>
      <img ngSrc="recursos/foto.png" width="200" height="180" alt="Eduardo Heras Nuño" priority />

      <h1>Experiencia profesional</h1>
    <h2>Obrador de confitería Carmen - 2025-2026</h2>
    <p>Trabajo en equipo y me adapto rápidamente a nuevas situaciones.</p>
    <h2>Festivales - 2026</h2>
    <p>Participación en eventos y actividades organizadas.</p>

    <h1>Formación</h1>
    <h2>Desarrollo de aplicaciones multiplataforma - 2024-actualidad</h2>
    <p>Desarrollo de aplicaciones para múltiples plataformas, enfocado al uso de Android</p>
    <h2>Cursos:</h2>
    <h3>Google: Inteligencia Artificial y productividad</h3>
    <p>Santander Open Academy</p>
    <h3>Oracle Java Foundations - Learning Path</h3>
    <p>Oracle University</p>
    <h3>Aprende a crear un videojuego en 2D con Unity</h3>
    <p>Udemy</p>
    <h3>Protege tu negocio: Ciberseguridad en el Teletrabajo</h3>
    <p>Google Digital Academy (Skillshop)</p>

    <h1>Tecnologías</h1>
    <ul>
  @for (tecnologia of tecnologias; track tecnologia) {
    <li>{{ tecnologia }}</li>
  }
</ul>


</main>
</div>


<footer>
  <p>© {{ this.nombre }} - {{ this.fecha | date: 'dd/MM/yyyy'}} </p>
</footer>