/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* La aplicación ocupa toda la pantalla */
html,
body {
  height: 100%;
}

/* Configuración principal de la aplicación */
app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}